/node_modules
/public/storage
/public/js
/public/css
/public/fonts
/public/images
/public/mix.js
/public/mix-manifest.json
/public/Billing_Paper
/storage/*.key
/storage/debugbar/
/vendor
/.idea
/npm-debug.log
/.env
/nbproject
/data
/composer.lock
/package-lock.json
/docker-config/db
