/* 
    Created on : Jun 20, 2018, 11:39:04 AM
    Author     : DungLV
*/
// Import Mixin
@import "option/mixins";
// Import Header
@import "elements/header";
// Import Sidebar
@import "elements/sidebar";
// import Date Picker Jquery
@import "option/datepicker";
// import Time Picker Jquery
@import "option/timepicker";

.approve{
    .approve-list{
        .search-block{
            .form-control, .custom-select{
                min-width: 270px;
                width: auto;
            }

            .form-group-right{
                margin-left: 50px;

            }

            .date-group{
                .group-datepicker{
                    float: left;
                }

                .split-a{
                    float: left;
                    line-height: $input-height-base;
                    font-size: $font-size-base + 7;
                    margin-left: 20px;
                    margin-right: 20px;

                }
            }
        }

        .block-paginate{
            padding-top: 15px;
            .fl-page{
                float: left;
            }

            .fl-right{
                float: right;
            }
        }
        .pagination{
            margin-top: 0;
            margin-bottom: 0;
        }

        .result-app-block{
            .rs-title{
                padding-bottom: 10px;
                border-bottom: 1px solid;
            }
        }
        
        .limit-block{
            display: table;
            margin-bottom: 10px;
            .lbl_limit{
                float: left;
                padding-top: 7px;
                padding-right: 5px;
            }
            
            .custom-select{
                float: right;
            }
        }
        .lbl-page-text{
            padding-top: 7px;
        }
        
    }
    
    .block-detail{
        display: table;
        width: 100%;
        .split-col{
            float: left;
            width: 50%;
            padding: 5px;
            
            &:nth-child(1){
                color: $gray;
            }
        }
    }
}