// ----------- BEGIN LIBRARY COMMON--------------
// Import Mixin
@import "option/mixins";
// Import Header
@import "elements/header";
// Import Sidebar
@import "elements/sidebar";
// import Date Picker Jquery
@import "option/datepicker";
// ----------- END LIBRARY COMMON--------------

/* Css for screen > 1024px */
#create-billing-paper {
  /*Css form*/
  .form-group {
      width: 30%;
      float: left;

      &.alone {
        width: 100%;
        .pull-left {
          line-height: 46px;
          margin-right: 10px;
          margin-left: 5px;
        }
        .between {
          text-align: center;
          vertical-align: middle;
          line-height: 46px; 
          margin-left: 10px;
          margin-right: 10px;
        }
      }

      .left-side {
        float: left;
        width: 105px;
      }
      .right-side {
        float: left;
        width: calc(100% - 105px);
      }
      .custom-select {
        width: 100%;
        &.year, &.month {
          width: 115px;
          float: left;
        }
      }
      .group-datepicker, .group-timepicker {
        width: 100%;
      }
    }
  .content-form {
    padding-left: 20px;
  }

  .block-title-tbl {
    .left-side {
      float: left;
      width: 105px;
    }
    .right-side {
      float: right;
      width: auto;

      .form-group {
        width: auto;
        margin: 0;
        .left-side {
          width: 60px;
          margin-right: 15px;
        }
        .right-side {
          float: left;
          width: 140px;
        }
      }
    }
  }

  /*Css table list company*/
  #block-tbl-company {
    clear: both;
    border-right: 1px solid #d8e3f3;
    border-left: 1px solid #d8e3f3;
    border-bottom: 1px solid #d8e3f3;
    min-width: 880px;
    overflow-y: hidden;
    overflow-x: auto;

    table.table-list-company {
      min-width: 1550px;

      .tbl-row-pick {
        width: 35px;
      }/*
      .tbl-row-no {
         width: 3%;
      }
      .tbl-row-company-name {
        width: 12%;
      }
      .tbl-row-date {
        width: 8%;
      }
      .tbl-row-method {
         width: 11.5%;
      }
      .tbl-row-ope-name {
        width: 13%;
      }
      .tbl-row-ope-phone {
        width: 9%;
      }
      .tbl-row-ope-email {
        width: 12%;
      }
      .tbl-row-money {
        width: 8.5%;
      }
      .tbl-row-status {
         width: 7%;
      }
      .tbl-row-approve {
        width: 7%;
      }*/
      .tbl-row-process {
        width: 100px;
      }

      thead {
        width: 100%;

        tr th {
          text-align: center;
          vertical-align: middle;
          
        }
      }
      tbody {

        tr {
          td {
            vertical-align: middle;
            padding: 0 5px;
            word-wrap: break-word;

            &.tbl-row-pick {
              .custom-radio {
                label {
                  padding-left: 23px;
                }
              }
            }
            &.tbl-row-no {
              text-align: center;
            }
            &.tbl-row-date {
              text-align: center;
            }
            &.tbl-row-method {
              text-align: center;
            }
            &.tbl-row-ope-phone {
              text-align: center;
            }
            &.tbl-row-ope-email {
              text-align: center;
            }
            &.tbl-row-money {
              text-align: right;
            }
            &.tbl-row-status {
              text-align: center;
            }
            &.tbl-row-approve {
              text-align: center;
              a {
                color: blue;
              }
            }
            &.tbl-row-process {
              text-align: center;
              vertical-align: middle;
              font-size: 25px;

              a {
                margin: 0 3px;
                &:hover,&:focus {
                  text-decoration: none;
                }
                .glyphicon {
                  top: 4px;
                }
                .fa {
                  margin-top: 6px;
                }
              }
            }
          }
        }
      }
    }
  }

  /*Css create billing*/
  .create-billing {
    padding-top: 10px;

    .content-billing {
      .form-group {
        width: auto;
        margin-right: 20px;
        .left-side {
          width: auto;
          margin-right: 10px;
        }
        .right-side {
          width: auto;

          textarea {
            resize: none;
          }
          .custom-checkbox {
            margin-top: 12px;
          }
        }
      }
    }

    .process-billing {
      float: right;
      width: 55%;

      .right-side {
        float: right;
        width: auto;
        text-align: right;

        button {
          margin-left: 10px;
          margin-bottom: 8px;
        }
      }
    }
  }
}

/* Css for screen < 1350px */
@media (max-width: 1350px) {
  #create-billing-paper {
    .create-billing {
      .process-billing {
        width: 40%;
        .right-side {

        }
      }
    }
  }
}

/* Css for screen < 1024px */
@media (max-width: 1024px) {
  #create-billing-paper {
    .form-group {
       width: 45%;
    }
  }
}